########
# Logs #
########

logs/*
**[0-9]

########
# Envs #
########

envs
**sif

########
# Data #
########

anndatas/*
results/*
results_test/*
**csv
!samplesheet.csv
**h5ad

############
# Nextflow #
############

work/
.nextflow/
.nextflow.log*

##########
# Python #
##########

__pycache__/
